
.login-pages {
        padding-top: 60px;
        padding-left: 20px;
        height: 100vh;
        background-color: #1b1c1d;
        width: 100vw;
        background-image: url('../Assets/apocalypse-1400x788.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
}

.login-form {
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .login-page {
    padding-top: 1rem;
    color: white;
    text-align: center;
    height: 100%;
    
  }
