
.login-form {
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .login-page {
    padding-top: 1rem;
    color: white;
    text-align: center;
    height: 100%;
    background-image: url('../Assets/apocalypse-1400x788.jpg');
    background-size: 100%;
  }
