
.login-form {
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .login-page {
    padding-top: 1rem;
    color: white;
    text-align: center;
  }

  .create-account-form {
    display: flex;
    justify-content: left;
    text-align: left;
  }
  
  .create-account-page {
    padding-top: 1rem;
    color: white;
    text-align: left;
  }