#root {
  width: 100%;
  min-height: 100vh;
}

.zapocalypse {
  position: absolute;
  top: 15%;
  left: 45%;
  /* display: flex; */
  /* flex-direction: row; */
  color: white

}

.title {
  font-size: xx-large;
}


h1 {
  color: white
}

h4 {
  color: white;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar {
  padding: 20px;
  padding-left: 1%;
  height: 60px; 
  width: 100vw;
  background-color: #ED5656;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  flex-direction: row;
}


.nav-links {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0px;
  position: absolute;
  left: 0;
  top: 0;
  }

.user-links {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.link {
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:first-child {
  margin-right: 12px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:hover {
  color: gold
}

.links {
  display: inline;
  justify-content: space-evenly;
  box-sizing: border-box;

}


.user-link {
  width: 100px;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  color: white;
  height: 100%;
  position: relative;
  top: -20;
}

.user-link:hover {
  color: gold
}

.link:visited {
  color: white;
}

.App-link {
  color: #09d3ac;
}



a {
  text-decoration: none;
}

.logged-in-pages {
  padding-top: 0px;
  padding-left: 20px;
  min-height: 94.5vh;
  background-color: #282c34;  
  width: 100vw;
  background: url('./Assets/thumb-1920-77515.jpg') bottom center fixed;
  background-repeat: repeat-y;
  background-size: 3600px, 2000px;
  align-items: center;
}

.skill-cards {
  /* margin: 1rem; */
  color: white
}

.skill-card {
  margin: 1rem;
}


.activities {
  background-image: none;
  background-color: #282c34;;
}

div.ui {
  height: 100%;
}

div.cards {
  height: 100%;
}

.home-page-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.activity-page {
  color: azure;
  width: 90%;
  display: inline;
  /* flex-wrap: wrap; */
  justify-content: (space-between);
}

.skills-images {
  float: right;
  margin-right: 5%;
  margin-top: -3%;
  display: flex;
  flex-direction: column;
  width: 10%;
  text-align: left;
  background-color: black;
  border-radius: 10%;
}

.skill-description {
  padding-left: 10%;
  padding-bottom: 10%;
}

.skill-image {
  box-sizing: border-box;
  border-radius: 10%;
  padding-bottom: 2%;
  background-color: none;
  width: 100%;
}

.activity-details {
  width: 60%;
}


.to-white{
  color: azure;
}

.menus {
}

#flyoutMenu {
  width: fit-content;
  height: 100%;
  background-color: rgb(91, 94, 94);
  position: absolute;
  opacity: 90%;
  padding-left: 2%;
  padding-top: 65px;
  padding-right: 5%;
  bottom: 0;
  left: 0;
  margin-top: 3.7%;
  transition: transform .5s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 99;

} 

.menu-link {
 color: white
}

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

 Button.menu-button {
  background-color: #ED5656;
  border: none;
  color: white;
  font-size: x-large;
  margin-top: -2px;
  text-decoration: none;
  border-color: gold;
}

Button.menu-button:focus {outline:0;}

Button.menu-button:hover {
  color: gold
}

#userMenu {
  width: fit-content;
  height: fit-content;
  background-color: rgb(91, 94, 94);
  position: absolute;
  opacity: 90%;
  padding-right: 3%;
  padding-left: 2%;
  padding-top: 15px;
  top: 0;
  right: 0;
  margin-top: 60px;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 99;
  box-sizing: border-box;

}

.menu-link {
 color: azure
}

.menu-link:hover {
  color: gold
 }

#userMenu.hide {
  transform: translate3d(0, -100vw, 0);
}
 
#userMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.skill-page {
  color: white;
}

.skill-activities {
  display: flex;
  flex-wrap: wrap;
}

.skill-header{
  display: flex;
  flex-wrap: wrap;
}

.inside-progress-bar{
  font-size: 4rem;

}

.prog-bar-elements{
  padding: 2rem;
  text-align: center;
}

.custom-activity {
  color: white;
  padding-bottom: 2rem 
}

.custom-activity a {
  color: gold;
}

.profile-page {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.profile-radal {
  width: fit-content;
}

.profile-page-top {
  display: flex;
  width: 100%;
  height: 60%;
  position: relative;
}

.profile-skills-container {
  max-width: 100%;
}

.new-activity-form {
width: 60%;
margin-left: 5%;
margin-right: 5%;
}

.activity-form {
  color: black;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 3rem;
  padding-top: -20px;
}

.activity-form-form {
  z-index: 0
}

.add-activity-button {
  padding-top: 2rem;
  z-index: 30;
}

.new-activity-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.profile-skills {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.profile-skill {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
  width: fit-content;
  min-width: 220px;
  align-items: center;
}

.profile-skills-image {
  max-height: 150px;
  border-radius: 10%;
}



.car-mech > .progress-bar {
  background-color: #ad8e6f !important;
}

.large-v-mech > .progress-bar {
  background-color: #23778e !important;
}

.moto-mech > .progress-bar {
  background-color: #734d26 !important;
}

.electrical > .progress-bar {
  background-color: #ffff33 !important;
}

.carpentry > .progress-bar {
  background-color: #a5644d !important;
}

.archery > .progress-bar {
  background-color: #8ece86 !important;
}

.shooting > .progress-bar {
  background-color: #585754 !important;
}

.crossbow > .progress-bar {
  background-color: #a2a565 !important;
}

.small-weap > .progress-bar {
  background-color: #9ea4a6 !important;
}

.weap-craft > .progress-bar {
  background-color: #7b737b !important;
}

.hunting > .progress-bar {
  background-color: #76a67e !important;
}

.fishing > .progress-bar {
  background-color: #53b2fb !important;
}

.foraging > .progress-bar {
  background-color: #70543e !important;
}

.camp-make > .progress-bar {
  background-color: #eddbcf !important;
}

.fitness > .progress-bar {
  background-color: #5a005a !important;
}

.unarmed-combat > .progress-bar {
  background-color: #efd3ac !important;
}

.first-aid > .progress-bar {
  background-color: #cf3a24 !important;
}

.psychology > .progress-bar {
  background-color: #06b8b9 !important;
}

.drugs-remedies > .progress-bar {
  background-color: #940008 !important;
}

.diagnosis > .progress-bar {
  background-color: #41bfb5 !important;
}

.clothing > .progress-bar {
  background-color: #f2ecda !important;
}

.tech > .progress-bar {
  background-color: #375673 !important;
}

.construction > .progress-bar {
  background-color: #cccc33 !important;
}

.fire-make > .progress-bar {
  background-color: #ff7b00 !important;
}

.car-handle > .progress-bar {
  background-color: #b5b5b5 !important;
}

.large-handle > .progress-bar {
  background-color: #959da5 !important;
}

.moto-handle > .progress-bar {
  background-color: #c7c7bf !important;
}

.car-offroad > .progress-bar {
  background-color: #9b7651 !important;
}

.moto-offroad > .progress-bar {
  background-color: #9b7653 !important;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  min-height: 100vh;
  margin-left: 13%;
}

.home-page-header {
  min-height: 4vh;
  width: 100vw;
}

.home-page-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: left;
}

.homepage-radal {
  min-width: fit-content !important;
  background-color: black !important;
  padding: 1rem !important;
  /* width: 20vw !important; */
  /* width: 100% !important; */

}

.homepage-recent {
  width: fit-content !important;
  background-color: black !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 0 !important;
  margin-left: 1rem !important;
  color: azure;
  height: 67.5vh !important;
  overflow: hidden;  /* list-style-type: circle; */
}

.homepage-recent a {
  color: white;
}

.homepage-recent a:hover {
  color: gold;
  text-decoration: none;
}


.home-data {
  padding: 2% !important;
  text-align: left !important;
  color: azure !important;
  background-color: black !important;
  opacity: 70% !important;
  width: 97% !important;
  /* overflow: hidden; */

}

svg {
  width: 100% !important;
  min-width: 500px !important;
}

.radal-and-skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}

.skillpage-zaps {
  position: absolute;
  left: 43%;
  top: 28%;
  font-size: 3rem;
}

.progress-chart {
  position: absolute;
  left: 35%;
  top: 5%;
  text-align: right;
  padding: 1%;
  height: 25%;
  width: 25%;
}

.activities-filter{
  width: 20%;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}