.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar {
  padding: 20px;
  padding-left: 1%;
  height: 60px; 
  width: 100vw;
  background-color: #ED5656;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  z-index: 100;
  box-sizing: border-box;
  /* border-bottom: black; */
}

/* .skills-button {
  margin-top: 100px
} */
.nav-links {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0px;
  position: absolute;
  left: 0;
  top: 0;
  }

.user-links {
  float: right;
  padding-top: 16px;
  padding-right: 20px;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.link {
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:first-child {
  margin-right: 12px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:hover {
  color: gold
}

.links {
  display: inline;
  justify-content: space-between;
  box-sizing: border-box;
}


.user-link {
  width: 100px;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  color: white;
  height: 100%;
  position: relative;
  top: -20;
}

.user-link:hover {
  color: gold
}

.link:visited {
  color: white;
}

.App-link {
  color: #09d3ac;
}



a {
  text-decoration: none;
}

.main {
  padding-top: 60px;
  height: 100vh;
  background-color: #282c34;
  width: 100vw;
}

.logged-in-pages {
  padding-top: 60px;
  padding-left: 20px;
  height: 100vh;
  background-color: #282c34;  
  width: 100vw;
  background: url('./Assets/thumb-1920-77515.jpg') top center fixed;
  background-repeat: repeat-y;
  background-size: 100%;
  background-size: cover;
}


.skill-card {
  margin: 1rem;
}

.skill-cards {
  background-image: none;
  background-color: #282c34;
}

.activities {
  background-image: none;
  background-color: #282c34;;
}

div.ui {
  height: 100%;
}

div.cards {
  height: 100%;
}

.home-page-data {
  width: 100%;
  display: flex;
  justify-content: center;
}

.activity-page {
  color: azure;
  width: 90%;
  display: inline;
  /* flex-wrap: wrap; */
  justify-content: (space-between);
}

.skills-images {
  float: right;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
  background-color: black;
}

.skill-image {
  max-height: 200px;
  border-radius: 10%;
  padding-bottom: 2%;
}

.activity-details {
  width: 60%;
}

.home-data {
  padding: 2%;
  text-align: left;
  height: 50%;
  color: azure;
  background-color: black;
  opacity: 70%;
  border-radius: 5%;
}

.to-white{
  color: azure;

}