h1 {
  color: white
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.navbar {
  padding: 20px;
  padding-left: 1%;
  height: 60px; 
  width: 100vw;
  background-color: #ED5656;
  position: fixed;
  top: 0;
  font-size: 1.3rem;
  z-index: 100;
  box-sizing: border-box;
  /* border-bottom: black; */
}

/* .skills-button {
  margin-top: 100px
} */
.nav-links {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0px;
  position: absolute;
  left: 0;
  top: 0;
  }

.user-links {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.link {
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:first-child {
  margin-right: 12px;
  text-decoration: none;
  color: white;
  height: 100%;
}

.link:hover {
  color: gold
}

.links {
  display: inline;
  justify-content: space-between;
  box-sizing: border-box;
}


.user-link {
  width: 100px;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  color: white;
  height: 100%;
  position: relative;
  top: -20;
}

.user-link:hover {
  color: gold
}

.link:visited {
  color: white;
}

.App-link {
  color: #09d3ac;
}



a {
  text-decoration: none;
}

.main {
  padding-top: 60px;
  height: 100vh;
  background-color: #282c34;
  width: 100vw;
}

.logged-in-pages {
  padding-top: 60px;
  padding-left: 20px;
  height: 100%;
  background-color: #282c34;  
  width: 100vw;
  background: url('./Assets/thumb-1920-77515.jpg') bottom center fixed;
  background-repeat: repeat-y;
  background-size: 3600px, 2000px;
}


.skill-card {
  margin: 1rem;
}

.skill-cards {
  background-image: none;
  background-color: #282c34;
}

.activities {
  background-image: none;
  background-color: #282c34;;
}

div.ui {
  height: 100%;
}

div.cards {
  height: 100%;
}

.home-page-data {
  width: 100%;
  display: flex;
  justify-content: center;
}

.activity-page {
  color: azure;
  width: 90%;
  display: inline;
  /* flex-wrap: wrap; */
  justify-content: (space-between);
}

.skills-images {
  float: right;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: left;
  background-color: black;
}

.skill-image {
  max-height: 200px;
  border-radius: 10%;
  padding-bottom: 2%;
}

.activity-details {
  width: 60%;
}

.home-data {
  padding: 2%;
  text-align: left;
  height: 50%;
  color: azure;
  background-color: black;
  opacity: 70%;
  border-radius: 5%;
  height: 40%;
  margin: 2%
}

.to-white{
  color: azure;
}



#flyoutMenu {
  width: fit-content;
  height: 95vh;
  background-color: rgb(91, 94, 94);
  position: fixed;
  opacity: 90%;
  padding-left: 2%;
  padding-top: 60px;
  padding-right: 5%;
  top: 0;
  left: 0;
  margin-top: 3.7%;
  transition: transform .9s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 99;

} 

.menu-link {
 color: white
}

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

 Button.menu-button {
  background-color: #ED5656;
  border: none;
  color: white;
  font-size: x-large;
  margin-top: -2px;
  text-decoration: none;
  border-color: gold;
}

Button.menu-button:focus {outline:0;}

Button.menu-button:hover {
  color: gold
}

#userMenu {
  width: fit-content;
  height: fit-content;
  background-color: rgb(91, 94, 94);
  position: fixed;
  opacity: 90%;
  padding-right: 3%;
  padding-left: 2%;
  padding-top: 60px;
  top: 0;
  right: 0;
  margin-top: 3%;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 99;

}

.menu-link {
 color: azure
}

.menu-link:hover {
  color: gold
 }

#userMenu.hide {
  transform: translate3d(0, -100vw, 0);
}
 
#userMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.skill-page {
  color: white
}

.skill-activities {
  display: flex;
  flex-wrap: wrap;
}



